<html>
    <head>
        <title> Shubham's Blog </title>
    </head>
    <body>
        <div>
            <h1><a href = ""> Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published : 28.01.2017,3:39</p>
            <h2><a href = "" > My first post</a></h2>
            <p>Gooooooooooooood Morning Puuuune !!!!!</p>
        </div>
        <div>
            <p>published: 28.01.2017,3:39</p>
            <h2><a href = ""> My second  post </a></h2>
            <p>Wooorking site ... hurray !!!!!!</p>
        </div>
    <p>Hi there !</p>
    <p> It works!</p>
    </body>
</html>
